# --- Base de données ---
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=pixelpets
MYSQL_USER=app
MYSQL_PASSWORD=changeme

# --- Config pets-service ---
DB_HOST=mariadb
DB_USER=app
DB_PASS=changeme
DB_NAME=pixelpets
NODE_ENV=development
